
body{
    background-color: rgb(245, 123, 123);
}
main{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
}
.resDiv{
    padding: 1%;
    box-sizing: border-box;
}

@media screen and (max-width:1024px){
    body{
        background-color: rgb(127, 157, 255);
    }
    .large{
        display: none;
    }
    main{
        display: flex;
        flex-direction: row;
    }

    .medium{
        width: 40%;
    }
    .small{
        width: 60%;
    }

}
@media screen and (max-width:480px){
    body{
        background-color: rgb(148, 219, 166);
    }
    main{
        display: flex;
        flex-direction: column;
    }

    .large{
        display: block;
    }
    .resDiv{
        width: 100%;
        text-align:center ;
    }
}







